.home-background {
    background-image: url("images/backgrounds/temp.JPG");
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    /* padding-top: 7vh;
    padding-bottom: 4vh; */
    margin: auto;
}

.banner {
    padding-top: 15%;
    padding-bottom: 15%;
}

#banner-button:hover, #banner-button:focus {
    color: #363636;
}